<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<!-- CONECTAR A LA BASE DE DATOS -->
    <connectionStrings>
      <add name="conectar" connectionString="Server=LAPTOP-0KSLK0F9\SQLEXPRESS; Database=MANTENIMIENTO_PRODUCTOS; user=sa; password=TiGre23-JoRge./04"/>
    </connectionStrings>
</configuration>